In [135]:
import requests
import numpy as np
import pandas as pd
import os

In [150]:
def download_from_UCI (UCI_url, name, no_of_features, dest='data'):
    response =  requests.get(UCI_url)
    path = os.path.join(os.getcwd() + "/" + dest + "/" + name + ".csv")
    csv = open(path, "w")
    header = "feature," * no_of_features
    csv.write(header[:-1] + "\n")
    for line in response:
        csv.write(line)
    csv.close()    
    print "done downloading and writing " + name

In [151]:
# download datasets
download_from_UCI("https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt", "banknote_authentication", 5)
download_from_UCI("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", "iris", 4)
download_from_UCI("https://archive.ics.uci.edu/ml/machine-learning-databases/letter-recognition/letter-recognition.data", "letter_recognition", 16)
download_from_UCI("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", "wine", 13)

done downloading and writing banknote_authentication
done downloading and writing iris
done downloading and writing letter_recognition
done downloading and writing wine

In [152]:
bank = pd.read_csv(os.path.join(os.getcwd() + "/" + "data" + "/" + "banknote_authentication" + ".csv"))
iris = pd.read_csv(os.path.join(os.getcwd() + "/" + "data" + "/" + "iris" + ".csv"))
wine = pd.read_csv(os.path.join(os.getcwd() + "/" + "data" + "/" + "wine" + ".csv"))
letter = pd.read_csv(os.path.join(os.getcwd() + "/" + "data" + "/" + "letter_recognition" + ".csv"))

In [157]:
bank.describe()

           feature    feature.1    feature.2    feature.3    feature.4
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [158]:
iris.describe()

          feature   feature.1   feature.2
count  150.000000  150.000000  150.000000
mean     3.054000    3.758667    1.198667
std      0.433594    1.764420    0.763161
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.300000
50%      3.000000    4.350000    1.300000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    2.500000

In [159]:
wine.describe()

,feature,feature.1,feature.2,feature.3,feature.4,feature.5,feature.6,feature.7,feature.8,feature.9,feature.10,feature.11,feature.12
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [160]:
letter.describe()

,feature,feature.1,feature.2,feature.3,feature.4,feature.5,feature.6,feature.7,feature.8,feature.9,feature.10,feature.11,feature.12,feature.13,feature.14,feature.15
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000